@import "tailwindcss";

@theme {
  --color-brand-orange: #ea580c;
  --color-brand-orange-light: #f97316;
  --color-brand-blue: #1e3a8a;
  --color-brand-blue-light: #2563eb;
  --color-brand-blue-600: #1d4ed8;
  --font-heading: var(--font-heading);
  --font-sans: var(--font-inter);
  --font-script: var(--font-norican);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  * {
    @apply border-gray-200;
  }
  
  body {
    @apply bg-slate-50 text-slate-800 antialiased min-h-screen flex flex-col;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading tracking-tight;
  }
}
